html,
body {
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  border: 2px dashed;
  width: 500px;
  height: 500px;
  margin: 0 auto;
}

#form {
  margin: auto;
}
