html,
body {
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  border: 1px solid grey;
  width: 75%;
  height: 75%;
  margin: 5px auto;
}

#form {
  margin: auto;
}

#meander-button {
	margin: 0 auto;
	text-align: center;
}