html,
body {
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  z-index: 0;
  border-radius: 10px;
  border: 1px black solid;
  width: 500px;
  height: 500px;
  margin: 0 auto;
}

#form {
  margin: auto;
}

.gm-style {
  z-index: 1;
}
