<div id="map"></div>
<div id="form">
  <form id="directions" action="/maps" method="POST">
    <br>Enter your current location:
    <input type="Text" placeholder="Your Location" name="current_location">
    <br>Preferred radius:
    <input type="text" placeholder="Radius" name="radius">
    <br><button id="meander-button" type="submit">Meander!</button>
  </form>
</div>
